@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

* {
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  --tw-duration: 200ms;
  transition-duration: 200ms;
}

@theme {
  --breakpoint-xxs: 21.25rem; 
  --breakpoint-xs: 23.125rem; 
  --breakpoint-xxl: 82.5rem; 
  --color-picto-primary: #8B5E3C; 
  --color-picto-primary-dark: #5C3B25;
  --color-picto-secondary: #D2B48C;
  --color-picto-secondary-dark: #BFA06A;
  --color-soft-white: #FFF8F0; 
  --color-soft-dark: #A1887F; 
  --color-accent-blush: #FADADD; 
  --color-caramel: #D9A05B;
  --color-beige: #F5F5DC;
  --color-accent-blue: #1E40AF;
  --color-light-blue: #3B82F6;
  --color-gold-light: #FEF3C7;
}


.btn-primary {
  background-color: rgb(217, 160, 91);
  color: rgb(255, 248, 240);
  border: none;
  transition: all 0.5s;
}
.btn-primary:hover {
  background-color: var(--color-picto-secondary);
  transform: scale(1.02);
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-soft-white); 
  color: var(--color-soft-dark); 
}

#root,
.animated-grid-bg,
.introduction-profile-background,
.blog-background {
  background: linear-gradient(
      rgba(255, 248, 240, 0.85), 
      rgba(255, 248, 240, 0.85)
    ),
    url("./src/assets/images/background.webp") center / cover no-repeat fixed;
}


.content {
  @apply max-xxl:w-full xxl:max-w-[1320px] xxl:mx-auto;
}

.section-title {
  @apply md:font-semibold text-3xl sm:text-4xl md:text-5xl font-medium text-[#8B5E3C];
}

.center {
  @apply flex justify-center items-center;
}

.animated-grid-bg {
  background: url("./src/assets/images/background.webp") center / cover no-repeat fixed;
}

.introduction-profile-background {
  background: url("./src/assets/images/background.webp") center / cover no-repeat fixed;
}

.blog-background {
  background: url("./src/assets/images/background.webp") center / cover no-repeat fixed;
}

html {
  scroll-behavior: smooth;
}
